.page {
  background-color: #000000;
  font-family: 'Inter','Arial', 'sans-serif';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}