@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/main/main.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__delete_button/element__delete_button.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__inf/element__inf.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__vector/element__vector.css);
@import url(../blocks/element/__vector-container/element__vector-container.css);
@import url(../blocks/element/__vector-counter/element__vector-counter.css);
@import url(../blocks/element/__vector/_active/element__vector_active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__error/popup__error.css);
@import url(../blocks/popup/__figure-container/popup__figure-container.css);
@import url(../blocks/popup/__figure/popup__figure.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__form-set/popup__form-set.css);
@import url(../blocks/popup/__image-description/popup__image-description.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__profile/popup__profile.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/_type_big-picture/popup_type_big-picture.css);
@import url(../blocks/popup/-add-form/popup-add-form.css);
@import url(../blocks/popup/-change-avatar-form/popup-change-avatar-form.css);
@import url(../blocks/popup/-edit-form/popup-edit-form.css);
@import url(../blocks/popup/-image-container/popup-image-container.css);
@import url(../blocks/popup/-image-heading/popup-image-heading.css);
@import url(../blocks/popup/-image-status/popup-image-status.css);
@import url(../blocks/popup/-image-status/popup-image-status.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/profile/__edit-avatar-button/profile__edit-avatar-button.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__status/profile__status.css);
@import url(../blocks/profile/__title/profile__title.css);